@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  @apply w-screen overflow-x-hidden;
}

.bottom-banner {
  background-image: url("../public/images/bottom-banner-image.jpg");
}
