<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    body {
      background: #efefef;
      padding: 2em 1em;
      border-radius: 20px;
    }

    h1 {
      font-size: 20px;
    }

    .greeting {
      text-align: center;
      margin-bottom: 20px;
    }

    hr {
      border: none;
      border-top: 1px solid #ccc;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .confirm {
      margin-top: 50px;
      text-align: center;
    }

    .confirm h6 {
      font-size: 1.2em;
    }

    .confirm p {
      margin-bottom: 1em;
    }

    .link-wrap {
      margin: 2em auto;
    }

    .button {
      display: inline-block;
      padding: 8px 16px;
      border: none;
      border-radius: 10px;
      text-decoration: none;
      background-color: #997a00;
      color: white;
    }

    .alternate {
      text-align: center;
    }

    .alternate p {
      margin-bottom: 1em;
    }

    .alternate .link-wrap {
      margin-bottom: 1em;
    }

    .alternate a {
      color: #54373c;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="banner">
    <!-- Insert your banner content here -->
  </div>

  <div class="greeting">
    <h1>Hey {{firstName}}!</h1>
  </div>

  <hr>

  <div class="confirm">
    <h6>Requested a password change</h6>
    <p>To complete the process, click the button below to change your password.</p>
    <p style="color: #54373c;">
      <b>Note: The link below will expire in 2 hours from the time it was created.</b>
    </p>
    <div class="link-wrap">
      <a color="white" style="color: white" class="button" href="{{verify_url}}">Change Password</a>
    </div>
  </div>

  <div class="alternate">
    <p>If the button above doesn't work, copy and paste the following link in your browser:</p>
    <div class="link-wrap">
      <a href="{{verify_url}}">{{verify_url}}</a>
    </div>
  </div>

  {{>footer}}
</body>

</html>